{% extends "boilerplate.html" %}
{% block body %}
{% if query %}
    {% for event in events %}
    <div>
    <h2>{{event.name}}</h2>
    <p>Timings: {{event.startTime|toIST}} to {{event.endTime|toIST}}</p>
    {% for location in event.locations %}
    <p>{{location.name}}: {{location.latitude}}, {{location.longitude}}</p>
    {% endfor %}
    </div>
    {% endfor %}
{% else %}
    {% for event in events %}
    <div>
    <h2>{{event.name}}</h2>
    <p>Timings: {{event.startTime|toIST}} to {{event.endTime|toIST}}</p>
    {% for location in event.locations %}
    <p>{{location.name}}: {{location.latitude}}, {{location.longitude}}</p>
    {% endfor %}
    </div>
    {% endfor %}

    <!-- other part of body of events page goes here -->
{% endif %}
    

{% endblock %}
